
$fontColor:#aaa;

body {
	background: #444 url("debut_dark.png") repeat;
}
#nav {
	>ul{
		>li {
			width: 300px;
			padding: 15px;
			border-radius: 2px;
			border-top: 1px solid rgba(255,255,255,.2);
		}	
	}
	li {
		list-style-type: none;

		a {
			color: $fontColor;
			font-weight: bold;
			text-decoration: none;
		}

		.article-list{
			li {
				padding: 10px;
			}
			a {
				display: block;
				text-indent: 14px;
			}
			a:hover {
				color: rgba(255,255,255, 1);
			}
		}
	}
}

.container {
	position: fixed;
	background: #fff;
	overflow: hidden;
	top:0.8em;
	left: 350px;
	right: 10px;
	bottom: 0;
	width: auto;
	border-radius: 20px;
	padding: 20px;
}

.nav-toggle {
	display: block;
	font-size: 0;
	span {
		display: block;
		width: 30px;
		padding: 2px;
		height: 2px;
		border-top: 3px solid $fontColor;
	}
}

.main {
	
}

@media (max-width: 648px) {
	#nav {
		>ul{
			>li {
				width: 100%;
			}	
		}
	}
	.container {
		position: relative;
		left: 0;
		bottom: 0;
		height: 100%;
		overflow: hidden;
		border-radius: 0;
	}
}
